body{
    background-color:lightgoldenrodyellow;
}
.task{
    position:relative;
    color: li
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.task #delete{
    position:absolute;
    top:0%;
    right:0%;
}
