body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color:rgb(237, 237, 237);

}
#root{
min-width:315px;
max-width:800px;
margin: 0 auto;
}
h1{
    font-weight:400;
    text-align:center;
}
.task{
    position:relative;
    margin:20px 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
  
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.task .row{
    padding-right:30px;
    min-height:10%;
}

.task #complete {
    font-size: 1.5em;
    padding:0 6px;
    width:30px;
    height:30px;
}
.task #complete span{
    position:relative;
    top:-5px;
    left:-3px;
}
.verify{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items:center;
    z-index:2;
    background-color:rgba(0,0,0,0.4);
    
}
.verify > div{
background-color:rgb(237, 237, 237);
width:150px;
text-align:center;
box-shadow:0 0 8px rgba(0,0,0,0.8);

}
.verify button{
    width:50%;
    outline: none;
    border: none;
    cursor: pointer;
}
.verify button:active{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}
.verify button:nth-of-type(1){
    background-color:rgb(221, 121, 117);
}
.verify button:nth-of-type(2){
    background-color:lightgray;
}

.task p {
    padding:5px 10px;
    text-align:center;
    font-weight: 500;
    margin: 0 auto;
}
label{
    cursor: pointer;
}
#complete{
    min-width:30px;
    border-radius:50%;
    outline: none;
    cursor: pointer;
}
#delete{
    background-color:inherit;
    outline: none;
    border: none;
    position:absolute;
    top:5px;
    right:5px;
    border-radius:50%;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
    color:rgb(252, 250, 249);
    padding-bottom:2px;
    
}
form{
    text-align:center;
}
.inputForm {
    width:90%;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 60px auto 30px auto;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    padding:10px;
    max-width:700px;

    
}
.inputForm input[type="text"]{
    font-size: 1.2em;
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom:2px solid rgb(109, 108, 108);
    text-align:center;
    min-width:60px;
}
.inputForm input[type="submit"]{
      background-color:rgb(68, 68, 68);
      color:white;
    outline: none;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
   

}